<div class="dashboard p-4">
    <div class="page-title">
        <p class="fs-2">{{title}}</p>
    </div>

    <hr>

    <div class="content mt-4">
        <div class="main col-md-12 d-flex text-center">
            <div class="box pending bg-info p-4 me-4">
                <p class="fs-3 m-0">Leave Request</p>
                <p class="fs-1 m-0">{{ leaveRequest }}</p>
            </div>

            <div class="box total bg-warning p-4">
                <p class="fs-3 m-0">Total student</p>
                <p class="fs-1 m-0">{{ totalStudent }}</p>
            </div>
        </div>
    </div>
</div>