<div class="dashboard p-4">
    <div class="page-title">
        <p class="fs-2">{{title}}</p>
    </div>

    <hr>

    <div class="content mt-4">
        <div class="main col-md-12 d-flex justify-content-between text-center">
            <div class="box pending bg-info p-4">
                <p class="fs-3 m-0">Total Admin</p>
                <p class="fs-1 m-0">{{ roleList.admin }}</p>
            </div>

            <div class="box total bg-danger p-4">
                <p class="fs-3 m-0">Total HOD</p>
                <p class="fs-1 m-0">{{ roleList.hod }}</p>
            </div>

            <div class="box rejected bg-success p-4">
                <p class="fs-3 m-0">Total faculty</p>
                <p class="fs-1 m-0">{{ roleList.faculty }}</p>
            </div>

            <div class="box approved bg-warning p-4">
                <p class="fs-3 m-0">Total Student</p>
                <p class="fs-1 m-0">{{ roleList.student }}</p>
            </div>

        </div>
    </div>
</div>